# Numerical expressions, Data types, String, List, Tuple, Dictionary

In [55]:
### Numerical expressions

In [1]:
x = 2
x = x+2
x

4

Type

In [6]:
d = 1
r = "Hey"
f = 23.5
print(type(d))
print(type(r))
print(type(f))

<class 'int'>
<class 'str'>
<class 'float'>

Type conversions

In [7]:
print(100 + int(34.5))
print(int("34") + 6)

134
40

User input
Note- <strong>input() function always returns a string</strong>

In [9]:
name = input("What's your name")
age = int(input("What's your age"))
print("Welcome",name,"\n","Your age is ",age)

What's your name tushar
What's your age 20

Welcome tushar
 Your age is  20

### String

In [16]:
mystr = "HELLO WORLD"
my = "Hello World"
more = 10 * " Hello World"
s = "Hello"+" "+"World"

In [17]:
print(mystr)
print(my)
print(more)
print(s)

HELLO WORLD
Hello World
 Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World
Hello World

In [18]:
len(mystr)

11

In [19]:
mystr[0:5:2]

'HLO'

In [22]:
my[-4:-1]

'orl'

In [23]:
my[2:5]

'llo'

In [24]:
my.swapcase()

'hELLO wORLD'

In [25]:
my.isalnum()

False

In [26]:
my.isalpha()

False

In [27]:
my.endswith("World")

True

In [28]:
my.count("H")

1

In [29]:
my.capitalize()

'Hello world'

In [30]:
my.find("w")

-1

In [31]:
my.lower()

'hello world'

In [32]:
my.upper()

'HELLO WORLD'

In [36]:
my.replace("Hello","Shitty")

'Shitty World'

## List

In [37]:
numbers = [2,4,3,6] #mutalve- can change

In [38]:
numbers[0:3]

[2, 4, 3]

In [39]:
numbers[::2]

[2, 3]

In [40]:
numbers[::3]

[2, 6]

In [41]:
numbers[1:5:-1]

[]

In [42]:
numbers.append(15)

In [43]:
numbers

[2, 4, 3, 6, 15]

In [44]:
numbers.insert(2,8)

In [45]:
numbers

[2, 4, 8, 3, 6, 15]

In [46]:
numbers.remove(2)

In [47]:
numbers

[4, 8, 3, 6, 15]

In [50]:
numbers.pop(3)

6

In [51]:
numbers

[4, 8, 3]

In [52]:
numbers[2]

3

In [53]:
numbers[2] = 15

In [54]:
numbers

[4, 8, 15]

## Tuples

In [56]:
tp = (1,3,4)

In [57]:
tp

(1, 3, 4)

### Dictionary

In [58]:
d1 = {"Rahul":"Class 12th","Shyam":"Class 11th"}

In [59]:
d1

{'Rahul': 'Class 12th', 'Shyam': 'Class 11th'}

In [60]:
d1["Rahul"]

'Class 12th'

In [63]:
# Dictionary in the dictionary
d2 = {"Rahul":{"Father Name":"Shyam Singh","Class":12,"Roll no.":35}}

In [68]:
d2["Rahul"]["Father Name"]

'Shyam Singh'

In [69]:
d2["Rahul"]["Father Name"] = "Ghanshyam Singh"

In [70]:
d2

{'Rahul': {'Father Name': 'Ghanshyam Singh', 'Class': 12, 'Roll no.': 35}}

In [71]:
d2["Rahul"]

{'Father Name': 'Ghanshyam Singh', 'Class': 12, 'Roll no.': 35}

In [72]:
d1

{'Rahul': 'Class 12th', 'Shyam': 'Class 11th'}

In [73]:
del d1["Rahul"]

In [74]:
d1

{'Shyam': 'Class 11th'}

In [75]:
d3 = d2.copy()

In [76]:
d3

{'Rahul': {'Father Name': 'Ghanshyam Singh', 'Class': 12, 'Roll no.': 35}}

In [77]:
d1.update({"Sohan":"Class 10th"})

In [78]:
d1

{'Shyam': 'Class 11th', 'Sohan': 'Class 10th'}

In [79]:
d1.get("Sohan")

'Class 10th'

In [83]:
d1.keys()

dict_keys(['Shyam', 'Sohan'])

In [84]:
d1.values()

dict_values(['Class 11th', 'Class 10th'])

In [93]:
# Convert a string into list
string = "Rohan Singh"
string.split()

['Rohan', 'Singh']

## Sets
Sets are same like mathematics . Unordered

In [94]:
l1 = [23,45,232,4]

In [95]:
s1 = set(l1)

In [96]:
s1

{4, 23, 45, 232}

In [97]:
type(s1)

set

In [99]:
s1.remove(4)

In [100]:
s1

{23, 45, 232}

In [101]:
s1.add(4)

In [107]:
s1

{4, 23, 45, 232}

In [108]:
s1.union()

{4, 23, 45, 232}

In [109]:
s2 = s1.intersection({1,2,3})

In [113]:
print(s1)

{232, 4, 45, 23}

In [114]:
print(s1.indisjoint(s1))

AttributeError: 'set' object has no attribute 'indisjoint'